p, h1, h2, h3, h4, h5, h6, a, input, textarea, button {
  margin-block-end: unset;
  margin-block-start: unset;
  -webkit-margin-before: unset;
  -webkit-margin-after: unset;
  font-family: Inter, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

textarea, select, input, button {
  outline: none;
  -webkit-appearance: none;
  border: none;
  background-color: #fff;
}

.body-regular {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.body-large {
  font-size: 20px;
  line-height: 24px;
}

.label-regular {
  font-size: 14px;
  line-height: 24px;
}

.label-small-mono {
  font-size: 12px;
  line-height: 24px;
  font-family: "Source Code Pro", monospace;
}

.body-regular-400 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.plus-font {
  font-size: 48px;
  line-height: 24px;
}

.btn-font {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}
.mono {
  font-family: "Source Code Pro", monospace;
}

.inter {
  font-family: Inter, sans-serif;
}

.mix-blend-diff {
  mix-blend-mode: difference;
}

/* dark */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
  .bg-black-d {
    background-color: black;
  }
  .white-d {
    color: white;
  }
  .gray1-d {
    color: #4d4d4d;
  }
  .gray2-d {
    color: #7f7f7f;
  }
  .gray3-d {
    color: #b1b2b3;
  }
  .gray4-d {
    color: #e6e6e6;
  }
  .bg-gray0-d {
    background-color: #333;
  }
  .bg-gray1-d {
    background-color: #4d4d4d;
  }
  .b--gray0-d {
    border-color: #333;
  }
  .b--gray1-d {
    border-color: #4d4d4d;
  }
  .b--gray2-d {
    border-color: #7f7f7f;
  }
  .b--white-d {
    border-color: #fff;
  }
  .bb-d {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .invert-d {
    filter: invert(1);
  }
  .o-80-d {
    opacity: .8;
  }
  .focus-b--white-d:focus {
    border-color: #fff;
  }
  a {
    color: #fff;
  }
  .hover-bg-gray1-d:hover {
    color: #4d4d4d;
  }
}

/* responsive */

@media all and (max-width: 34.375em) {
  .h-100-minus-40-s {
    height: calc(100% - 40px);
  }
}

@media all and (min-width: 34.375em) and (max-width: 46.875em) {
  .h-100-minus-40-m {
    height: calc(100% - 40px);
  }
}

@media all and (min-width: 46.875em) and (max-width: 60em) {
  .h-100-minus-40-l {
    height: calc(100% - 40px);
  }
}

@media all and (min-width: 60em) {
  .h-100-minus-40-xl {
    height: calc(100% - 40px);
  }
}

/* Calendar-specific */

select {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  font-size: 14px;
  color:rgba(0, 0, 0, 0.8);
}

select.timeframe {
  width: 72px;
}

.repeat-interval {
  background-color: #f1f3f4;
  border-radius: 4px;
  padding-right: 8px;
}

.repeat-interval select {
  padding: 8px;
  background-color: #f1f3f4;
  border-radius: 4px;
}

.clickable {
  cursor: pointer;
}

.date-circle.clickable:hover {
  background-color: lightgray;
  opacity: 1;
}

.date-circle.selected {
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  opacity: 0.8;
}

.date-circle.selected:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
}

.date-circle.today {
  background-color: black;
  color: white;
  opacity: 0.8;
}

.date-circle.today:hover {
  background-color: black;
  color: white;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button.dark {
  background-color: black;
  color: white;
}

button.dark:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.time-entry:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.event-title-ellipsis {
  white-space: nowrap;
  padding-left: 5%;
  width: 95%;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.event-title-ellipsis:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.weekday {
  padding: 8px 12px;
  border-radius: 4px;
  margin: 0px 4px;
  background-color: #f1f3f4;
}

.weekday.selected {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.weekday.selected > span {
  color: white;
}

.weekday:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.weekly-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.5%;
  position: relative;
}

.event-tile {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 8px;
  left: 10%;
  width: 80%;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal .content {
  z-index: 10;
  background: white;
  width: 400px;
  min-height: 200px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px;
}

#yearly-view-modal .content .yearly-view-event {
  margin-top: 8px;
}

#yearly-view-modal .content .yearly-view-event:hover {
  cursor: pointer;
  text-decoration: underline;
}

.calendar-selector {
  margin-top: 8px;
  justify-content: space-between;
  align-items: center;
}

.calendar-selector .edit-icon > svg {
  margin-left: 4px;
  padding: 4px;
  cursor: pointer;
}

.calendar-selector .edit-icon > svg:hover {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

.calendar-select {
  padding: 4px;
  margin-top: 16px;
}

.calendar-select select {
  border-radius: 4px;
  background-color: #f1f3f4;
  border: 6px solid #f1f3f4;
}